.slide-form {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.slide-form__title {
  margin-bottom: 20px;
}
.input {
  height: 44px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 18px;
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.textarea {
  height: 100px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 18px;
  width: 100%;
  resize: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.input::placeholder,
.textarea::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #d0d5dd;
}
.form-group__input {
  margin-bottom: 20px;
}

.form-group__textarea {
  margin-bottom: 20px;
}

.button {
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.button_color_blue {
  background-color: #007aff;
  color: #fff;
}

.button_color_blue:hover {
  color: #fff;
  background-color: #004288;
}

@media screen and (max-width: 768px) {
  .button {
    height: 36px;
  }
  .slide-form {
    margin-top: 15px;
    padding: 10px;
  }
  .form-group__input {
    margin-bottom: 10px;
  }

  .slide-form__title {
    margin-bottom: 10px;
  }

  .form-group__textarea {
    margin-bottom: 5px;
  }
}
