@import "./assets/css/typography.css";

.app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 300px;
}

.container__form {
  margin-bottom: 20px;
}

.error {
  margin: auto;
}
