.swiper-card {
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
}
.swiper-card__title {
  margin-bottom: 20px;
}
.swiper-card__text {
  border-top: 1px solid #eaecf0;
  padding-top: 10px;
}

.swiper-pagination {
  margin-top: 40px;
  position: static;
}

/* .swiper-button-prev,
.swiper-button-next {
  color: #000;
  font-size: 8px;
} */
@media screen and (max-width: 768px) {
  .swiper-pagination {
    margin-top: 20px;
  }

  .swiper-card__title {
    margin-bottom: 10px;
  }
  .swiper-card__text {
    border-top: 1px solid #eaecf0;
    padding-top: 5px;
  }
  .swiper-card {
    padding: 10px;
  }
}
